.tabmenu
  .tabmenu-header
    .tab-link.active
      %span{"tab-id" => "fresh_news"}
        Новости
    .tab-link
      %span{"tab-id" => "all_news"}
        События

  .tab-panel.active{id: "fresh_news"}
    .row.no-margin
      - piece = @last_news.last
      - if piece.present?
        .col-md-7.main-news
          .textsblocks
            %b
              %span.fa.fa-thumbs-o-up
              = link_to piece.name, "/news/"+piece.tag
            - if tmpimage = piece.newspictures.first
              .showplace_wcorner_50
                .showplace_item
                  .showplace_img_50
                    = image_tag tmpimage.image.url(:thumb)
                    %p.mini=piece.name
            = piece.page
      - @last_news.select{|ln| ln.id != @last_news.last.id}.each do |piece| 
        .col-md-5.older-news
          .textsblocks.inherit-height
            %b
              %span.fa.fa-thumbs-o-up
              = link_to piece.name, "/news/"+piece.tag
            - if tmpimage = piece.newspictures.first
              .showplace_wcorner_40
                .showplace_item
                  .showplace_img
                    = image_tag tmpimage.image.url(:thumb)
            .older-news-text
              = piece.page

  .tab-panel{id: "all_news"}
    .shpage
      = paginate @news, :left => 4, :right => 1,:param_name => :page
    .textsblocks
      - @news.each do |newsblock|
        %b
          %span.fa.fa-thumbs-o-up
          = link_to newsblock.name, "/news/"+newsblock.tag
        .textblock
          .microblock
            - if tmpimage = newsblock.newspictures.first
              .col-md-3.col-lg-3
                .showplace_wcorner
                  .showplace_item
                    .showplace_img
                      = image_tag tmpimage.image.url(:thumb)
                      %p.mini=newsblock.name
              .col-md-9.col-lg-9.showfulltext
                .samtext=newsblock.page.html_safe
                .next
                  %span.fa.fa-chevron-circle-down
            - else
              .showfulltext
                .samtext=newsblock.page.html_safe
                .next
                  %span.fa.fa-chevron-circle-down
          .clear