= form_for(@user, url: update_profile_path(), remote: true) do |f|
  .form-group
    = f.label :password
    .controls
      = f.password_field :password, autofocus: true, value: '', class: 'form-control'
      - if @user.errors[:password].any?
        %p.text-danger= @user.errors[:password].first
  .form-group
    = f.label :password_confirmation
    .controls
      = f.password_field :password_confirmation, value: '', class: 'form-control'
      - if @user.errors[:password_confirmation].any?
        %p.text-danger= @user.errors[:password_confirmation].first
  .form-group
    = f.label :current_password
    .controls
      = f.password_field :current_password, value: '', class: 'form-control'
      - if @user.errors[:current_password].any?
        %p.text-danger= @user.errors[:current_password].first

  .actions
    = f.submit 'Изменить пароль', class: 'btn btn-primary'
