- if user_signed_in?
  %li.dropdown
    = link_to user_root_path, data: { toggle: "dropdown" }, role: "button", aria: { haspopup: true, expanded: false } do
      = image_tag current_user.avatar.url(:micro), class: "img-circle", size: "25x25"
      = current_user.login
      %span.langdown
    %ul.dropdown-menu.dropdown-menu-right
      %li= link_to "Профиль", user_root_path
      %li= link_to "Выход", destroy_user_session_path, method: :delete
  %li
    %span.delimiter 
  %li
    = link_to t('user.logoutblock'), destroy_user_session_path, :method => :delete
  %li
    %span.delimiter 

  -#.old
    %li
      = link_to edit_user_registration_path do
        %span.fa.fa-user
        %span
    - if can? :dashboard, User
      %li
        = link_to '/admin' do
          %span.fa.fa-dashboard
          %span
    %li
      = link_to user_root_path do
        %span.fa.fa-home
        %span
    %li
      = link_to destroy_user_session_path, :method => :delete do
        %span.fa.fa-sign-out
        %span
- else
  %li
    = link_to t('user.register'), "#sign_up", 'data-toggle' => "modal", 'data-target' => "#sign_up"
  %li
    %span.delimiter 
  %li
    = link_to t('user.signblock'), "#sign_in", 'data-toggle' => "modal", 'data-target' => "#sign_in"
  %li
    %span.delimiter 
