- textblockid = @showplace.placetextblocks.select('textblock_id as id').group('textblock_id').to_a
- grouptextblocksid = Textblock.select('grouptextblock_id as id').where(id: textblockid).group('grouptextblock_id').to_a
- grouptextblocks = Grouptextblock.where(id: grouptextblocksid).order('sortorder ASC')
- textblocks = @showplace.placetextblocks

- previous_group_id = 0
- textblocks.each do |block|
  - if block.textblock && block.textblock.grouptextblock.id != previous_group_id

    - if block.textblock.grouptextblock.name == "Полезная информация" && @showplace.street_pano.present?
      .street-pano= @showplace.street_pano.try(:html_safe)
      

    - grouptextblock = block.textblock.grouptextblock
    - previous_group_id = grouptextblock.id
    %b
      - if grouptextblock.icon.present?
        = image_tag grouptextblock.icon(:small), size: "16x16"
      - else
        %span.fa.fa-thumbs-o-up
      = grouptextblock.name
  
  - if block.textblock.nil?
    - previous_group_id = 0

  .textblock
    .microblock
      - if showplace = block.othershowplace or block.image.present?
        .test
          - if showplace = block.othershowplace
            = render partial: 'shared/showplace', locals: { showplace: showplace }
          - else 
            .showplace_wcorner
              .showplace_item.nohover
                .showplace_img.showplace_img2
                  =image_tag block.image.url(:thumb)
                  - if block.textblock && block.textblock.name.present?
                    %p.mini= block.textblock.name
        .test2.showfulltext
          .samtext(style="padding-top: 8px;" data-lines-count="#{6+block.lines_offset}")=block.fulltext.html_safe
          - if showplace
            .text-right= link_to "Подробнее >>", '/place/'+showplace.tag, style: "font-size: 13px;"
          .next
            - unless showplace
              %span.fa.fa-chevron-circle-down
      - else
        .showfulltext
          .samtext(data-lines-count="#{6+block.lines_offset}")=block.fulltext.html_safe
          .next
            %span.fa.fa-chevron-circle-down
    .clear


= render_partners_for @showplace
