- textblockid = @showplace.placetextblocks.select('textblock_id as id').group('textblock_id').to_a
- grouptextblocksid = Textblock.select('grouptextblock_id as id').where(id: textblockid).group('grouptextblock_id').to_a
- grouptextblocks = Grouptextblock.where(id: grouptextblocksid).order('sortorder ASC')


- previous_group_id = 0
- @showplace.placetextblocks.each do |placetextblock|
  - if placetextblock.textblock && placetextblock.textblock.grouptextblock.id != previous_group_id

    - if placetextblock.textblock.grouptextblock.name == "Полезная информация" && @showplace.street_pano.present?
      .street-pano= @showplace.street_pano.try(:html_safe)
      

    - grouptextblock = placetextblock.textblock.grouptextblock
    - previous_group_id = grouptextblock.id
    %b
      - if grouptextblock.icon.present?
        = image_tag grouptextblock.icon(:small), size: "16x16"
      - else
        %span.fa.fa-thumbs-o-up
      = grouptextblock.name
  
  - if placetextblock.textblock.nil?
    - previous_group_id = 0

  .textblock
    .microblock
      - if showplace = placetextblock.othershowplace or placetextblock.image.present?
        .test
          - if showplace = placetextblock.othershowplace
            = render partial: 'shared/showplace', locals: { showplace: showplace }
          - else 
            .showplace_wcorner
              .showplace_item.nohover
                .showplace_img.showplace_img2
                  =image_tag placetextblock.image.url(:thumb)
                  - if placetextblock.textblock && placetextblock.textblock.name.present?
                    %p.mini= placetextblock.textblock.name
        .test2.showfulltext
          .samtext(style="padding-top: 8px;" data-lines-count="#{6+placetextblock.lines_offset}")=placetextblock.fulltext.html_safe
          = link_to "Подробнее >>", '/place/'+showplace.tag if showplace
          .next
            - unless showplace
              %span.fa.fa-chevron-circle-down
      - else
        .showfulltext
          .samtext(data-lines-count="#{6+placetextblock.lines_offset}")=placetextblock.fulltext.html_safe
          .next
            %span.fa.fa-chevron-circle-down
    .clear


= render_partners
