- set_meta_tags title: "Новости", reverse: true

- @bredcrumb = capture do
  %li= link_to 'Путеводитель', '/'
  %li.active Новости
/ .page-header
/   %h1{style: "text-align:left;"} Новости

= content_for :precontainer do
  .country-selector-block
    .country-selector-form
      = form_for :countries, url: allnews_filter_path, remote: true do |f|
        = f.label :ids, "Выберите страну", style: "color: white"
        %nobr
          = f.select :ids, Country.ordered.map{|c| [c.name,c.id]}, {}, multiple: true, class: "country-select"

= content_for :postcontainer do
  .place-for-news
    = render "shared/allnews_tabmenu"
