- @bredcrumb = capture do
  %li= link_to 'Путеводитель', '/'
  %li= link_to 'Страны мира', '/allcountries'
  %li= link_to @news.name, '/countries/'+@news.tag
  %li.active= @news.name
.info
  %h1=@news.h1

.blockborder.oh
  .all
    = render :partial => 'shared/slide'
    .fotorama{"data-allowfullscreen"=>"true", "data-nav"=>"thumbs", "data-fit"=>"cover", "data-width"=>"100%", "data-thumbwidth" => "128px", "data-thumbheight" => "128px", "data-captions"=>"true"}
      - @news.newspictures.each do |newspictures|
        -if shimg = newspictures.image
          =image_tag newspictures.image.url(:medium), "data-full" => newspictures.image.url(:medium), "data-caption"=> newspictures.name
      -if videos = @news.newsvideos.first
        - @news.newsvideos.each do |video|
          =link_to video.name, video.kode.html_safe
.showplace_block.textblock
  =@news.page.html_safe
