= render "/shared/share_sdks"

- @bredcrumb = capture do
  %li= link_to 'Путеводитель', '/'
  %li= link_to 'Страны мира', '/allcountries'
  %li= link_to @piece.name, '/countries/'+@piece.tag
  %li.active= @piece.name

= content_for :precontainer do
  .country-selector-block
    .country-selector-form
      = form_for :countries, url: allnews_filter_path, remote: true do |f|
        = f.label :ids, "Выберите страну", style: "color: white"
        %nobr
          = f.select :ids, Country.all.map{|c| [c.name,c.id]}, {}, multiple: true, class: "news-country-select", data: {selected: @piece.country_id}

.show-news.row
  .news-header-block.col-md-12
    .news-header-title.col-md-12
      %b
        = @piece.name
    %hr.no-margin
      %span.news-date
        = @piece.posted_on.try(:strftime, ("%d.%m.%Y"))
  .news-page-block.col-md-12
    .blockborder.oh.show-news-pictures
      .all
        = render :partial => 'shared/slide'
        .fotorama{"data-allowfullscreen"=>"true", "data-nav"=>"thumbs", "data-fit"=>"cover", "data-width"=>"100%", "data-thumbwidth" => "128px", "data-thumbheight" => "128px", "data-captions"=>"true"}
          - @piece.newspictures.each do |newspictures|
            -if shimg = newspictures.image
              =image_tag newspictures.image.url(:medium), "data-full" => newspictures.image.url(:medium), "data-caption"=> newspictures.name
          -if videos = @piece.newsvideos.first
            - @piece.newsvideos.each do |video|
              =link_to video.name, video.kode.html_safe
    = @piece.page.html_safe
    .source-url-place
      - if @piece.news_source_url.present?
        = link_to @piece.news_source_url.to_s[/(?<=:\/\/)\w+.\w+/], @piece.news_source_url
    .share-links#sharing
      %table
        %tr
          %td
            .share-button.facebook-button
              Facebook
          %td
            .share-button.twitter-button
              Twitter
          %td
            .share-button.gplus-button
              Google+
          %td
            .share-button.vk-button
              Vkontakte
          %td
            .share-button.od-button
              Одноклассники
          %td
            .share-button.mailru-button
              %span{style: "color: orange"}@
              Mail.ru


  .news-neighbours#neighbours.col-md-12
    = render "news_neighbours"
  .other-news

= content_for :postcontainer do
  .tabmenu-background
    .tabmenu
      .tabmenu-header
        .tab-link.active
          %span{"tab-id" => "all_country_news"}
            Другие новости по стране
        .tab-link
          %span{"tab-id" => "all_news"}
            Все новости

      .tab-panel.row.active{id: "all_country_news"}
        .shpage
        .textsblocks
          = render "country_news_tab"
      .tab-panel.row{id: "all_news"}
        .shpage
        .textsblocks
          = render "allnews_all_tab"


