- set_meta_tags title: @showplace.title, reverse: true
- use_previous_breadcrumbs = false

- if current_user and test=current_user.placevidels.where('showplace_id'=>@showplace.id).first 
  - placevidelsclass='bigcheck'
  - placevidelsgo='/noseen/'
- else
  - placevidelsclass='bignocheck'
  - placevidelsgo='/seen/'
- if current_user and test=current_user.placenets.where('showplace_id'=>@showplace.id).first 
  - placenetsclass='bigcheck'
  - placenetsgo='/nono/'
- else
  - placenetsclass='bignocheck'
  - placenetsgo='/no/'
- if current_user and test=current_user.placedas.where('showplace_id'=>@showplace.id).first 
  - placedasclass='bigcheck'
  - placedasgo='/nowish/'
- else
  - placedasclass='bignocheck'
  - placedasgo='/wish/'
  

- @bredcrumb = capture do
  %li= link_to 'Путеводитель', '/'

  - session[:breadcrumbs] ||= []
  - session[:breadcrumbs_old] = session[:breadcrumbs]
  - session[:breadcrumbs] = []

  - if session[:breadcrumbs_old].any?
    - titles = session[:breadcrumbs_old].map {|a| a[0]}
    - if titles.include? @showplace.name
      - index = titles.index @showplace.name
      - session[:breadcrumbs] = session[:breadcrumbs_old][0..index]
      - use_previous_breadcrumbs = true


  - unless session[:breadcrumbs].length > 0
    - if @referer[:controller] == 'home' && @referer[:action] == 'allwonders'
      - session[:breadcrumbs] << ["Чудеса света", "/allwonders"]
      / %li= link_to "Чудеса света", "/allwonders"
    - elsif @referer[:controller] == 'home' && @referer[:action] == 'allbest'
      - session[:breadcrumbs] << ["TOP 100", "/allbest"]
      / %li= link_to "TOP 100", "/allbest"
    - elsif @referer[:controller] == 'home' && @referer[:action] == 'goroda'
      - session[:breadcrumbs] << ["Города", "/goroda"]
      / %li= link_to "Города", "/goroda"
    - elsif @referer[:controller] == 'home' && @referer[:action] == 'categories'
      - session[:breadcrumbs] << [@showplace.section.name, "/section/#{@showplace.section.tag.name}"]
      - session[:breadcrumbs] << [@showplace.category.name, "/categories/#{@showplace.category.tag.name}"]
      / %li= link_to @showplace.section.name, "/section/#{@showplace.section.tag.name}"
      / %li= link_to @showplace.category.name, "/categories/#{@showplace.category.tag.name}"
    - elsif @referer[:controller] == 'home' && @referer[:action] == 'section'
      - session[:breadcrumbs] << [@showplace.section.name, "/section/#{@showplace.section.tag.name}"]
      / %li= link_to @showplace.section.name, "/section/#{@showplace.section.tag.name}"
    - else
      - session[:breadcrumbs] << ['Страны мира', '/allcountries']
      - session[:breadcrumbs] << [@showplace.countries.first.region.name, '/countries/'+@showplace.countries.first.region.tag.name]
      -if @showplace.countries.count <5
        - @showplace.countries.each do |plcountry|
          - session[:breadcrumbs] << [plcountry.name, '/country/'+plcountry.tag]
          / = link_to plcountry.name, '/country/'+plcountry.tag
      -else
        - @showplace.countries.first(5).each do |plcountry|
          - session[:breadcrumbs] << [plcountry.name, '/country/'+plcountry.tag]
          / = link_to plcountry.name, '/country/'+plcountry.tag
        / и ...
      / %li= link_to 'Страны мира', '/allcountries'
      / %li= link_to @showplace.countries.first.region.name, '/countries/'+@showplace.countries.first.region.tag.name
      / %li
      /   -if @showplace.countries.count <5
      /     - @showplace.countries.each do |plcountry|
      /       = link_to plcountry.name, '/country/'+plcountry.tag
      /   -else
      /     - @showplace.countries.first(5).each do |plcountry|
      /       = link_to plcountry.name, '/country/'+plcountry.tag
      /     и ...
    - session[:breadcrumbs] << [@showplace.name, '/place/'+@showplace.tag]
    / %li.active= @showplace.name
  - session[:breadcrumbs].each do |title, link|
    - if link
      %li= link_to title, link
    - else
      %li.active= title



.page-header.place
  %h1=@showplace.h1
  .links
    - binding.pry
    = link_to 'Был, видел', placevidelsgo+@showplace.id.to_s, :class=>placevidelsclass
    = link_to 'Хочу', placedasgo+@showplace.id.to_s, :class=>placedasclass
    = link_to 'Позже', placenetsgo+@showplace.id.to_s, :class=>placenetsclass

.clear.showfulltext
  .nonaklonniytext
    =@showplace.shortdesc.html_safe
.oh#place
  .ohgallery
    = render :partial => 'shared/slide'

    .fotorama{"data-allowfullscreen"=>"true", "data-nav"=>"thumbs", "data-fit"=>"contain", "data-width"=>"100%", "data-thumbwidth" => "115px", "data-thumbheight" => "84px", "data-arrows"=>"true", "data-click"=>"false"}
      - @showplace.showplacepictures.each do |showplacepictures|
        - if shimg = showplacepictures.image
          = image_tag showplacepictures.image.url(:medium), "data-full" => showplacepictures.image.url(:large), "data-caption"=> showplacepictures.name
      - if videos = @showplace.showplacevideos.first
        - @showplace.showplacevideos.each do |video|
          = link_to video.name, video.kode.html_safe
      - @showplace.showplacepanos.each do |pano|
        = link_to pano.title, "#", data: { pano: true, image: pano.thumb.url, thumb: pano.thumb.url, panorama: pano.src }

  .ohdetails
    .cntrmap
      -if @showplace.googlemap.present?
        =@showplace.googlemap.html_safe
    .filterbl

      .infoblock
        .new-countries
          - @showplace.countries.each do |country|
            = link_to "/country/" + country.tag do
              .flag_img{ class: (@showplace.countries.count > 1 ? 'small' : '') }
                - if flagimg = country.flag.url(:thumb)
                  = image_tag flagimg
              = country.name unless @showplace.countries.count > 1

        .new-medals
          -if top100 = @showplace.top100
            .showplace_top100{:title=>"ТОП 100"}
              
          -if lose = @showplace.lose
            .showplace_lost{:title=>"Исчезнувшее"}
              
          -if unesco = @showplace.unesco
            .showplace_unesco{:title=>"Наследие Юнеско"}
              
          -if wonders7 = @showplace.wonders7
            .showplace_wonders{:title=>"7 чудес мира"}
              
          -if ginnesa = @showplace.ginnesa
            .showplace_ginnes{:title=>"В книге Гиннеса"}
        .new-rating
          = link_to "Отзывы", '/place/'+@showplace.tag
          = image_tag '/img/content_rating.png'
          - if point = @showplace.point
            = @showplace.point.to_s.gsub('.', ',')
          - else
            0.0


-#.showplace_block
  %p
    %b Еще из этого региона
    (
    =@relatedsplscount
    )
  #related
    = render :partial => 'relatedspls'
  
-if @showplace.fulldesc.present?
  .showfulltext
    .samtext(data-lines-count="15")
      =@showplace.fulldesc.html_safe
    .next
      %span.fa.fa-chevron-circle-down


.clear
.textsblocks#textblockscontent
  = render partial: 'textblokscontent'
