!!! 5
%html(lang="en")
  %head= render 'layouts/header'

  %body{style:"padding-top: 117px;"}
    .navbar-fixed-top
      .container-fluid.topnav
        = bootstrap_flash
        .pull-right
          %ul.navbar-nav.pull-right.list-unstyled
            
            = render :partial => 'shared/loginblock'
            %li.dropdown
              = link_to '#', class: "dropdown-toggle", 'data-toggle'=>"dropdown", role:"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" do
                =@iso3locales[I18n.locale]
                %span.langdown
              = render :partial => 'shared/lang'
              -#%ul.dropdown-menu.dropdown-menu-right
                -@iso3locales.each do |k, v|
                  %li
                    = link_to 'http://'+k.to_s+'.'+$sitedomain do
                      =image_tag "/img/"+k.to_s+".png", style: "width: 36px;height: 20px;"
                      =v
        .pull-right#exitalerts
          Вы не зарегистрированы, при выходе с сайта Ваши настройки не сохранятся !
            
      = render 'layouts/navigation'

      -#.container
        .topnavbar
          .pull-left.col-md-3.col-lg-3.fixed
            .logo
              =link_to '/' do
                =image_tag '/allworld-logo.png', :style=>"width: 100%;"
          .pull-right
            .banner
              =render :partial => "shared/baner", :locals => { :block => 1 }
      .container-fluid
        .row.navbar-marquee
          = render :partial => 'shared/marquee'


    -if current_page?(guide_url) or current_page?(root_url)
      .container-fluid
        .row
          .slider
            = render :partial => 'shared/carousel', :locals => { :block => 'guide' }
            .rightmenublock
              - Rightmenu.order('sortorder ASC').each do |rightmn|
                = link_to rightmn.url do
                  =image_tag rightmn.image.url
                  %p=rightmn.name
      .container-fluid{style: "background-color: #1a587f;"}
        .row
          #shared-point.row-point{style: "font-size: 0.9em;"}
            = render partial: 'shared/point'
    .container-fluid#contentbody
      .row.pull-center
        -#unless current_page?(root_url)
        .leftmenu
          .blocknoborder.sidebar-nav
            = render :partial => 'shared/leftmenu'
        .fullcontent#contenetblock
          = yield
    .container-fluid
      .row.afooter
        = render :partial => 'shared/footer'
    .container-fluid
      .row
        %footer
          %p 
            &copy;
            =$setting.copyright
    .hiddenbottom
      = render :partial => 'shared/hiddenbottom'
    = render "layouts/metrics"
