!!! 5
%html(lang="en")
  %head= render 'layouts/header'


  %body{style:"padding-top: 117px;"}
    .navbar-fixed-top
      .container.topnav
        = bootstrap_flash
        .pull-right
          %ul.navbar-nav.pull-right.list-unstyled
            
            = render :partial => 'shared/loginblock'
            %li.dropdown
              = link_to '#', class: "dropdown-toggle", 'data-toggle'=>"dropdown", role:"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" do
                =@iso3locales[I18n.locale]
                %span.langdown
              = render :partial => 'shared/lang'
        .pull-right#exitalerts
          Вы не зарегистрированы, при выходе с сайта Ваши настройки не сохранятся !
            
      = render 'layouts/navigation'

      -#.container
        .topnavbar
          .pull-left.col-md-3.col-lg-3.fixed
            .logo
              =link_to '/' do
                =image_tag '/allworld-logo.png', :style=>"width: 100%;"
          .pull-right
            .banner
              =render :partial => "shared/baner", :locals => { :block => 1 }
      .container
        .row.navbar-marquee
          = render :partial => 'shared/marquee'
    -if current_page?(root_url)
      .container
        .row
          .slider
            = render :partial => 'shared/carousel', :locals => { :block => 'root' }
            .rightmenublock
              - Rightmenu.order('sortorder ASC').each do |rightmn|
                = link_to rightmn.url do
                  =image_tag rightmn.image.url
                  %p=rightmn.name
            .bottomgradient
    .container
      .row.pull-center
        -unless current_page?(root_url)
          .leftmenu
            .blocknoborder.sidebar-nav
              = render :partial => 'shared/leftmenu'
        .content#contenetblock
          = yield
    .container-fluid
      .row.afooter
        = render :partial => 'shared/footer'
    .container
      .row
        %footer
          %p 
            &copy;
            =$setting.copyright
    .hiddenbottom
      = render :partial => 'shared/hiddenbottom'
