!!! 5
%html(lang="en")
  %head= render 'layouts/header'


  %body{style:"padding-top: 117px;"}
    .navbar-fixed-top
      .container-fluid.topnav
        = bootstrap_flash
        .pull-right
          %ul.navbar-nav.pull-right.list-unstyled
            
            = render :partial => 'shared/loginblock'
            %li.dropdown
              = link_to '#', class: "dropdown-toggle", 'data-toggle'=>"dropdown", role:"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false" do
                =@iso3locales[I18n.locale]
                %span.langdown
              = render :partial => 'shared/lang'
        .pull-right#exitalerts
          Вы не зарегистрированы, при выходе с сайта Ваши настройки не сохранятся !
      
      = render 'layouts/navigation'

      .container-fluid
        .row.navbar-marquee
          = render :partial => 'shared/marquee'
    .container-fluid
      .row
        .row-point{style: "font-size: 0.9em;"}
          = render :partial => 'shared/point'
      
        
        
    .container-fluid#contentbody
      .row.pull-center
        -#unless current_page?(root_url)
        .leftmenu
          .blocknoborder.sidebar-nav
            = render :partial => 'shared/leftmenuperson'
        .fullcontent#contenetblock
          = yield
      
    .container-fluid
      .row.afooter
        = render :partial => 'shared/footer'
    .container-fluid
      .row
        %footer
          %p 
            &copy;
            =$setting.copyright
    .hiddenbottom
      = render :partial => 'shared/hiddenbottom'
